/* Common */
:root {
    --color-white: white;
    --bs-secondary: #2c3e50;
    --bs-secondary-rgb: 44,62,80;
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;
}

.section {
    padding: 4.375rem 0;
}

.star::after,
.star::before {
    content: "";
    display: block;
    height: 4px;
    width: 110px;
    margin: 0 .9375rem;
    border-radius: .375rem;
    background-color: var(--color-white);
}

.star-black::after,
.star-black::before {
    content: "";
    display: block;
    height: 4px;
    width: 110px;
    margin: 0 .9375rem;
    border-radius: .375rem;
    background-color: #2b3d4f;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.col-right li a {
    color: var(--color-white);
} 

.my-list {
    margin-top: 0;
    margin-bottom: 0;
}

.col-right li {
    list-style: none;
    padding-right: 1.25rem;
}

.col-right li a {
    text-decoration: none;
}

.fa-bars {
    font-size: 1.875rem;
    border: .0625rem solid;
    padding: .3125rem;
    display: none;
}

/* Section Portfolio */
.section-presentation {
    padding-top: 5rem;
}

.avatar-img {
    max-width: 250px;
    margin: 0 auto;
}

.avatar-img img {
    width: 100%;
}

.star i {
    font-size: 1.5625rem;
}

/* Section About */
.star.star-black{
    color: #2b3d4f;
}

.card_img {
    border-radius: 1.25rem;
    overflow: hidden;
    transition: 0.3s;
}

.btn_white {
    color: var(--color-white);
    border: .0625rem solid var(--color-white);
}

/*Section Contact */
.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.form-label {
    margin-bottom: 0;
}

.btn.btn_primary {
    background-color: var(--bs-primary);
}

/* Footer */
footer {
    background-color: #3a546d;
}

.social i {
    border: .0625rem solid;
    border-radius: 50%;
    overflow: hidden;
    padding: .5625rem;
    cursor: pointer;
}

.social i:first-child,
.social i:last-child {
    padding: .5625rem .8125rem;
}

.text_primary {
    color:var(--bs-primary);
}    

.fa-copyright {
    font-size: .625rem;
}


/* hover */
.fa-facebook-f:hover {
    background-color: rgb(13, 13, 113);
}

.fa-google-plus-g:hover {
    background-color: rgb(159, 26, 26);
}

.fa-twitter:hover {
    background-color: rgb(8, 100, 181);
}

.fa-linkedin-in:hover {
    background-color: rgb(38, 155, 223);
}

.col-right ul li a:hover {
    box-shadow: 0px 1px 10px 0px var(--bs-primary);
}

.card_img:hover {
    transform: scale(1.1);
}

/* Responsive */

@media screen and (max-width: 560px) {
    .col-right {
        display: none;
    }

    .fa-bars {
        display: block;
    }
}
