/* Common */
:root {
    --color-nav: #2c3e50;
    --color-white: white;
    --color-primary: #1abc9c;
}

.bg_green {
    background-color: var(--color-primary);
}

.section {
    padding: 4.375rem 0;
}

.box {
    color: var(--color-white);
}

.star::after,
.star::before {
    content: "";
    display: block;
    height: 4px;
    width: 140px;
    margin: 0 .9375rem;
    border-radius: .375rem;
    background-color: var(--color-white);
}

.star-black::after,
.star-black::before {
    content: "";
    display: block;
    height: 4px;
    width: 140px;
    margin: 0 .9375rem;
    border-radius: .375rem;
    background-color: #2b3d4f;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

nav {
    background-color: var(--color-nav);
    padding: .9375rem 0;
}

.col-left h4,
.col-right li a {
    color: var(--color-white);
}

.col-right li {
    list-style: none;
    padding-right: 1.25rem;
}

.col-right li a {
    text-decoration: none;
}

.d_none {
    color: var(--color-white);
    font-size: 1.875rem;
    border: .0625rem solid;
    padding: .3125rem;
    display: none;
}

/* Section Portfolio */
.section-presentation {
    padding-top: 5rem;
}

.avatar-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 0;
}

.avatar-img {
    max-width: 250px;
    padding-bottom: .375rem;
}

.avatar-img img {
    width: 100%;
}

.avatar-profile {
    color: var(--color-white);
    text-align: center;
}

.box h1 {
    font-size: 3.4375rem;
    padding-bottom: 1.25rem;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.25rem;
}

.star i {
    font-size: 1.5625rem;
    padding: 0 .5rem;
}

.description {
    font-size: 1.4375rem;
    font-weight: 600;
}

/* Section About */
.box {
    text-align: center;
}

.box-black {
    color: black;
}

.box h3 {
    font-size: 2.8125rem;
    padding-bottom: 1.25rem;
}

.star.star-black{
    color: #2b3d4f;
}

.card_img {
    border-radius: 1.25rem;
    overflow: hidden;
}

.container_small {
    max-width: 720px;
    margin: 0 auto;
    color: var(--color-white);
}

.btn_white {
    color: var(--color-white);
    border: .0625rem solid var(--color-white);
}